/*ESTILOS GENERALES*/
body {
	background-color: $background-color_1;
}

h1 {
	color: $color_1;
	font-size: 1.5rem;
	font-family: $font-family_1;
}
h2 {
	color: $color_1;
	font-size: 1.3rem;
	font-family: $font-family_1;
}